.data td{
    padding-left: 5px;
    padding-right: 5px;
    background-color:blue;
    border-radius: 2px;
    border-style: solid;
    width: 100px;
    height: 20px;
}

body{
    color: aliceblue;
    background-color:black;
}
.head td{
    padding-left: 5px;
    padding-right: 5px;
    background-color:red;
    border-radius: 2px;
    width: 100px;
    border-style: solid;
}