
div.elements{
    position: absolute;
    background-color: aliceblue;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -26%) 
}
.data td{
    padding-left: 5px;
    padding-right: 5px;
    background-color:#f5f2f2;
    text-align: center;
    width: 110px;
    color: #403e3e;
    height: 20px;
}

body{
    background-color:#ffffff;
    align-items: center;
    display:inline;
    
}
.head td{
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    background-color:#403e3e;
    width: 110px;
    color: white;
}