
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Football Score</title>
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
</head>
<body>
    <table class="head">
        <td>P</td><td>Team</td><td>GP</td><td>W</td><td>D</td><td>L</td><td>F</td><td>A</td><td>GD</td><td>Pts</td>
    </table>
    <br>
    {% for i in data %}
    <table class="data">
     <td>{{i[0]}}</td> <td>{{i[1]}}</td> <td>{{i[2]}}</td><td>{{i[3]}}</td><td>{{i[4]}}</td><td>{{i[5]}}</td><td>{{i[6]}}</td><td>{{i[7]}}</td><td>{{i[8]}}</td><td>{{i[9]}}</td>
    </table>
    <br>
    {% endfor%}
</body>
</html>