
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Football Score</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
</head>
<body>
    {% extends "navbar.html" %}
    

    {%block head%}
    <h2>{{league}}</h2>

    <table class="head">
        <td>P</td><td>Team</td><td>GP</td><td>W</td><td>D</td><td>L</td><td>F</td><td>A</td><td>GD</td><td>Pts</td>
    </table>
    <br>
    {% for i in data %}
    <table class="data">
        {%for j in range(10) %}
            <td>{{i[j]}}</td>
        {% endfor %}
    </table>
    <br>
    {% endfor%}
    {%endblock%}
</body>
</html>