

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">

<div class="elements">
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <div class="boot">
            <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/premier-league-table"><p class="text-light bg-dark">Premier League</p></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/laliga-table"><p class="text-light bg-dark">Laliga</p></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/bundesliga-table"><p class="text-light bg-dark">Bundesliga</p></a>
                </li>
                </ul>
            </div>
        </div>
      </nav>
</div>
{%block head%}

{%endblock%}